* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.head-text {
  height: 100vh;
  padding-top: 360px;
  background-image: url(./img/Header\ bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-text .pod {
  padding-left: 250px;
}

.head-text .pod p {
  width: 40%;
}

.list-group {
  margin-bottom: 10px;
}

.list-item {
  background-color: #ebebff;
  border: 0;
  border-radius: 10px !important;
  color: #6070ff;
}

.text-bottom2 {
  list-style-type: none;
  padding: 0;
}

.worksec > .row {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 140px;
}

.worksec .card-md-12 > .card {
  border: 0 !important;
  background-color: white;
}

.col-md-12 {
  margin-bottom: 130px;
  border-radius: 24px !important;
  border: 1px solid #dfe1e6;
}
